#breadcrumb
  %a{:href => url(:root)} MerbHerd
  >
  = @forum.name

#main
  %h2= @forum.name

  .action-items
    = link_to 'New Topic', url(:new_forum_topic, @forum)

  %table.forum
    %tr
      %th
        Topic
      %th
        Replies
      %th
        Last Post
      %th
        Admin
    - @forum.topics.each do |topic|
      %tr
        %td
          %a{:href => resource(@forum, topic), :class => 'topic-title'}= topic.title
          %p.topic-description= topic.description
        %td.count
          = topic.posts.count - 1
        %td
          by
          %a{:href => resource(topic.posts.last.user)}= topic.posts.last.user.login
          %br
          = topic.posts.last.created_at.formatted(:post)
        %td
          = link_to 'edit', url(:edit_forum_topic, @forum, @topic)

  .action-items
    = link_to 'New Topic', url(:new_forum_topic, @forum)