%h1
  = @forum.name
  
%table.wide
  %tr
    %th{ :colspan => '2' }
      Topic
    %th
      Last Post
    %th
      Admin
  - @forum.topics.each do |topic|
    %tr
      %td
      
      %td
        = link_to topic.title, resource(@forum, topic)
        %br
        %span.description
          = topic.description
      %td
        N/A
      %td
        = link_to 'edit', url(:edit_forum_topic, @forum, @topic)

= link_to 'New Topic', url(:new_forum_topic, @forum)