#breadcrumb
  %a{:href => url(:root)}MerbHerd
  >>
  %a{:href => resource(@topic.forum)}= @topic.forum.name
  >>
  = @topic.title

.action-items
  = link_to 'New Topic', url(:new_forum_topic, @forum)
  |
  = link_to 'Reply', resource(@forum, @topic, :posts, :new)

%table
  %tr
    %td
      = @topic.title
  - @topic.posts.each do |post|
    %tr
      %td
        %div{:id => "p#{post.id}"}
          .post-profile
            = image_tag "default_avatar.png"
            %br
            %a{:href => resource(post.user)}= post.user.login
            %br
            [Administrator]

            %ul
              %li
                Posts:
                = post.user.posts.count
              %li
                Member Since
                = post.user.created_at.formatted(:standard)
                
          .post-body
            = post.content
          
.action-items
  = link_to 'New Topic', url(:new_forum_topic, @forum)
  |
  = link_to 'Reply', resource(@forum, @topic, :posts, :new)